.field-hashid_field input[readonly="readonly"]{
	display: none;
}
.field-hashid_field .hash-field-box{
	font-size: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	height: 2.2rem;
	padding: 0.2rem 0.3rem;
	margin-bottom: 0.3rem;
	margin-top: 0.2rem;
}
.field-hashid_field .hash{
	cursor: text;
	font-family: 'Courier New', 'Courier', monospace; /*Better font?*/
	font-size: 120%;
	background: #eee; /*Change*/
	border: 0.1rem solid rgba(0,0,0,0.25);
}
.field-hashid_field .hash-info{
	background: #fff5c4; /*Change*/
	border: 0.1rem solid #d4cba5;
}
.field-hashid_field .hash-warning{
	background: #ffcecd; /*Change*/
	border: 0.1rem solid #c29d9c;
}